/* ================================= 
  Photo Overlay Transitions
==================================== */

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
}
.photo-overlay:hover {
	opacity: 1;
}

/* ================================= 
  Button Transitions
==================================== */

.button {
	transition: background .3s, color .3s;
}
.button:hover {
	color: #fff;
	background: #4a89ca;
}

/* ================================= 
  Image Transforms & Transitions
==================================== */

/* -- Row 1 --------- */

/*img {
	transition: transform .5s;
}

img:hover {
	transform: translate(50%);
}*/

/* -- Row 2 --------- */

/*.photo img {
	transform-origin: 0 0;
}

.photo:hover img {
	transform: scale(1.2);
}*/

/* -- Row 3 --------- */

/*.slide .photo-overlay, .slide img {
	transition: transform .6s;
}

.slide .photo-overlay {
	transform: translateX(-100%);
}

.slide:hover .photo-overlay {
	transform: translateX(0);
}*/

/* -- Row 4 --------- */

.content-3d {
	perspective: 700px;
}

/*.content-3d .photo {
	transform: rotateX(-5deg);
}*/

.content-3d .photo {
	transition: transform 1s ease-out;
	transform-style: preserve-3d;
}

.content-3d .photo:hover {
	transform: rotateY(-180deg);
}

.content-3d .photo .side-a, .content-3d .photo .side-b {
	backface-visibility: hidden;
}

.content-3d .photo .side-b {
	transform: rotateY(180deg);
}

/* -- Logo ---------- */

/*.logo:hover {
	transform: rotate(-20deg);
}*/