
/*	Animations
------------------------------------------ */

.boat {
	-webkit-animation: rock-boat 3s ease-in-out infinite;
}
.boat::after {
	-webkit-animation: steam 4s 2s infinite;
}
body {
	-webkit-animation: bg-move 8s ease-out forwards;
	/* 
		animation-name : bg-move;
		animation-duration :8s;
		animation-timing-function : ease-out;
		animation-fill-mode: forwards;
	*/
}


/*	Keyframes
------------------------------------------*/

@keyframes rock-boat {
	50%  { -webkit-transform: rotate(-5deg) translateY(-10px); }
}

@keyframes steam {
	40%,
	60%  { opacity: 1; }
	100% { -webkit-transform: translate(-15%, -35%) rotateZ(20deg); }
}

@keyframes bg-move {
	0%   { background-position:  100% -560px; }
	100% { background-position: -350% -460px; }
}

/*	Keyframes - WebKit only
------------------------------------------

@-webkit-keyframes rock-boat {
	50%  { -webkit-transform: rotate(-5deg) translateY(-10px); }
}

@-webkit-keyframes steam {
	40%,
	60%  { opacity: 1; }
	100% { -webkit-transform: translate(-15%, -35%) rotateZ(20deg); }
}

@-webkit-keyframes bg-move {
	0%   { background-position:  100% -560px; }
	100% { background-position: -350% -460px; }
}*/
