/* =================================
  Button Transitions
==================================== */

.button {
	transition: background .3s;
}
.button:hover {
	background: rgba(74,137,202, 1);
}

/* ---- Photo Overlay ---- */

.photo-desc {
	color: #fff;
	/*position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;*/
	background: #345d88;
	line-height: 0;
	padding: 50px 20px 0 20px;
}

/* =================================
  Photo 3D Transforms & Transitions
==================================== */

.content {
	perspective: 700px; /* habilita espacio 3D */
}

/*.content .photo {
	transition: transform 1s ease-out;
	transform-style: preserve-3d;*/ /* habilita espacio 3D para los hijos no directos
}*/

/*.content .photo:hover {
	transform: rotateY(-180deg);
}*/

/*.content .photo .side-a, .content .photo .side-b {
	backface-visibility: hidden; /* Esconder la parte trasera del elemento al ser rotado
}*/

/*.content .photo .side-b {
	transform: rotateY(180deg);
}*/
