* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ededed;
}

.container {
  background: #fff;
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  padding: 40px 0 40px 2em;
}

h1 {
  margin-bottom: 25px;
}