* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #f4f4f4;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 2em;
}

h1 {
  text-align: center;
}

.banner {
  background: url('images/bg.jpg');
  background-size: cover;
  position: relative;
  min-height: 100%;
  padding: 150px 0;
  text-align: center;
  color: white;
}

.banner-desc {
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 18px #000;
}

.banner-desc h2 {
  font-size: 3.5em;
  text-transform: uppercase;
}

.banner-desc p {
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.banner-desc button {
  padding: 20px 3em;
  font-size: 1.5em;
  text-transform: uppercase;
  background: #FEAF60;
  border: none;
  color: white;
}

.banner-desc button:hover {
  background: black;
  cursor: pointer;
}

.banner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}