@import "../template/mixins";
@import "../template/settings";

@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

$backgroundColor: #000;
$green: #9bd005;
$blue: #1e83ad;
$red: #d14c42;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}
@import "../template/theme";

.reveal {
	pre {
		text-align: center;
	}
	.block {
		&--magenta {
			background-color: #e80b63;
		}
	}
	.wrap {
		&--green, .block--green {
			background: $green;
		}
		&--blue, .block--blue {
			background: $blue;
		}
		&--red {
			background: $red;
		}
		&__content {
			margin-top: 120px;
		}
		&__code {
			pre {
				font-size: 1em;
    		width: 100%;
    		text-align: center;
			}
		}
		&__description {
			width: 550px;
			text-align: left;
			img.item {
				vertical-align: middle;
			}
      &--full {
        width: 100%;
      }
		}
		&__flujos {
			pre {
				font-size: 1em;
			}
		}
		&__z-index {
			p {
				font-size: 0.9em;
			}
			pre {
				font-size: 2.4em;
			}
		}
	}
	.item {
		display: inline-block;
		vertical-align: top;
	}
  .wrap__description, .wrap__description--full {
    span {
      color: $green;
      font-weight: bolder;
    }
  }
}
