@import "../template/mixins";
@import "../template/settings";

@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

$backgroundColor: #000;
$green: #9bd005;
$blue: #1e83ad;
$red: #d14c42;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}
@import "../template/theme";

.reveal {
	pre {
		text-align: center;
	}
	.wrap {
		&--green {
			background: $green;
		}
		&--blue {
			background: $blue;
		}
		&--red {
			background: $red;
		}
		&__content {
			margin-top: 120px;
		}
		&__code {
			pre {
				font-size: 1em;
    		width: 100%;
    		text-align: center;
			}
		}
		&__required {
			.item {
				padding: 30px;
				&:first-child {
					margin-right: 30px;
				}
			}
		}
		&__compatibilidad {
			margin-top: 150px;
		}
		&__multimedia {
			pre {
				font-size: 2em;
			}
		}
	}
	.item {
		display: inline-block;
		vertical-align: top;
	}
	.notes {
		code {
			color: $green;
		}
	}
	.form-examples {
		box-sizing: border-box;
		margin-top: 70px;
		ul {
			margin-top: 15px;
		}
		pre {
			padding: 0;
			margin:0;
		}
		input {
			width: 100%;
			padding: 5px 0 4px 40px;
			margin-top: 20px;
			display: block;
			font-size: 1em;
		}
		&__text {
			width: 40%;
			padding: 0 0 23px 0;
		}
		&__files {
			-webkit-appearance: initial;
			background-color: initial;
			padding: initial;
			border: initial;
		}
		&.checkboxes {
			font-size: 0.7em;
			input {
				display: inline;
				width: 7%;
			}
		}
		&.btn {
			input {
				display: inline;
				width: 25%;
				padding-left: 0;
			}
		}
		&__radio, &__password {
			margin-top: 10px;
			color: white;
		}
		.radio-btn, .checkbox-btn {
			width: 100%;
			font-size: 0.8em;
		}
		&__submit {
			input {
				display: block !important;
				height: 100px;
			}
		}
	}
	.atributos-universales {
		pre {
			font-size: 1.7em;
		}
	}
	.agrupando-elementos {
		pre {
			font-size: 1.5em;
			width: 40%;
			margin-top: 200px;
			margin-right: 30px;
		}
		margin-top: 120px;
	}
}
