/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #000;
$green: #9bd005;
$blue: #1e83ad;
$red: #d14c42;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.reveal {
	pre {
		text-align: center;
	}
	.wrap {
		&--green {
			background: $green;
		}
		&--blue {
			background: $blue;
		}
		&--red {
			background: $red;
		}
		&__content {
			//margin-top: 120px;
		}
		&__code {
			pre {
				font-size: 1em;
    		width: 23%;
    		text-align: center;
			}

		}
	}
	.item {
		display: inline-block;
		vertical-align: top;
	}
	.notes {
		code {
			color: $green;
		}
	}
	.form-examples {
		margin-top: 70px;
		ul {
			margin-top: 15px;
		}
		pre {
			padding: 0;
			margin:0;
		}
		input {
			width: 100%;
			padding: 5px 0 4px 40px;
			margin-top: 20px;
			display: block;
			font-size: 1em;
		}
		&__text {
			width: 40%;
			padding: 0 0 23px 0;
		}
		&__radio {
			color: white;
			input {
				display: inline;
			}
		}

		.radio-btn, .checkbox-btn {
			width: 100%;
		}
	}
}
