* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 2em;
}

.title {
  font-family: 'Raleway', sans-serif;
}

.title-big {
  font-size: 3em;
  text-transform: uppercase;
}

.item {
  display: inline-block;
  vertical-align: top;
}

.item.last a {
  margin-right: 0;
}

header {
  background: white;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.logo,
footer p
 {
  float: left;
}

@media (max-width: 768px) {
  .logo {
    float: none;
    text-align: center;
  }
}

.menu,
.social {
  float: right;
  margin: 25px 0;
}

.menu a::after {
  content: '';
  display: block;
  height: 3px;
  transform: scale(0);
  background: black;
  transition: transform 200ms;
}

.menu a:hover:after {
  transform: scale(1);
}

@media (max-width: 768px) {
  .menu {
    float: none;
    display: none;
  } 

  .menu .item {
    display: block;
    text-align: center;
  }
}

.link {
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  margin: 0 1em;
}

.mobile-nav {
  clear: both;
  display: none;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: block;
    position: absolute;
    font-size: 2em;
    top: 40px;
    right: 30px;
  }

  .mobile-nav a {
    color: black;
  }

  .mobile-nav a:hover {
    color: gray;
  }
}

.banner {
  background: url('images/bg.jpg');
  background-size: cover;
  text-align: center;
  padding: 150px 0;
  position: relative;
}

.banner::before {
  content: '';
  display: block;
  background: rgba(0, 0, 0, .5);
  min-height: 100%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.banner-desc {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, .5);
  padding: 80px 0;
  animation-name: banner-bg;
  animation-duration: 1s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  overflow: hidden;
  transform: scale(0);
}

.banner h2 {
  font-size: 4em;
  text-transform: uppercase;
  opacity: 0;
  animation-name: banner-title;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.banner p {
  font-size: 2em;
  position: absolute;
  bottom: -40px;
  left: 27%;
  animation-name: banner-p;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.banner span {
  color: #3a342e;
  text-transform: capitalize;
}

@media(max-width:768px) {
  .banner {
    padding: 0;
  }
  .banner-desc {
    transform: scale(1);
  }

  .banner h2 {
    opacity: 1;
  }

  .banner p {
    position: initial;
  }

  .banner p,
  .banner h2, 
  .banner-desc {
    animation: none;
  }
}

.services,
.portfolio {
  padding: 80px 0;
}

.services {
  background: #f4f4f4;
}

.service {
  width: 30%;
  margin-right: 2%;
  text-align: center;
}

.service span {
  font-size: 3em;
}

.service h3 {
  font-size: 2.5em;
  margin: 20px 0;
}

@media (max-width: 480px){
  .service {
    width: 100%;
    margin: 40px 0;
  }
}

.portfolio h3 {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.portfolio h3::after {
  content: '';
  display: block;
  height: 5px;
  background: black;
  width: 100px;
  position: absolute;
  margin-top: 10px;
  left: 45%;
}

.portfolio .item {
  width: 30%;
  margin-right: 3%;
  margin-bottom: 40px;
}

.portfolio figure {
  position: relative;
}

.portfolio figcaption {
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  opacity: 0;
  transition: opacity 500ms;
  text-align: center;
  font-size: 1.8em;
  padding-top: 120px;
}

.portfolio figcaption button {
  padding: 10px 1em;
  border: none;
  background: white;
  font-size: 1em;
  font-weight: 700;
  margin-top: 30px;
}

.portfolio figure:hover figcaption {
  opacity: 1;
  cursor: pointer;
}
@media (max-width: 768px) {
  .portfolio .item {
    width: 70%;
    display: block;
    margin: 40px auto;
  }
  .portfolio figcaption {
    position: initial;
    opacity: 1;
    padding: 20px 0;
  }

  .portfolio figcaption {
    
  }
}

@media (max-width: 480px) {
  .portfolio .item {
    width: 100%;
    display: block;
  }
}

footer .social {
  margin-top: 0px;
  font-size: 1.5em;
}

footer .social li {
  margin-right: 1em;
}

footer p {
  margin-top: 10px;
}

.social a {
  color: black;
  transition: color 500ms;
}

.social a:hover {
  color: gray;
}

@media (max-width: 480px) {
  footer p {
    float: none;
    text-align: center;
  }

  .social {
    float: none;
  }

  .social .item {
    display: block;
    text-align: center;
    margin: 20px 0;
  }
}


@keyframes banner-bg {
  100% {
    transform: scale(1);
  }
}

@keyframes banner-title {
  100% {
    opacity: 1;
  }
}

@keyframes banner-p {
  100% {
    bottom: 40px;
  }
}