* {
  margin: 0;
  padding: 0;
}

body {
  background: #F3F0EF;
  font-family: 'Roboto', sans-serif;
}

body::after {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  background: #009688;
  position: absolute;
  top:0;
  z-index: -1;
}

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  z-index: 1;
  padding: 16px 1em;
  background: white;
  -webkit-box-shadow: 1px 1px 18px 1px #707070;
  box-shadow: 1px 1px 18px 1px #707070;
}

h1 {
  margin-bottom: 20px;
}

h1 span {
  color: #009688;
}

input {
  display: block;
}

input[name="text-field"] {
  border-top: 2px solid #ededed;
  border-left:2px solid #ededed;
  border-bottom:2px solid #ededed;
  border-right:none;
  padding: 10px 1em;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}

input[name="text-field"]:focus {
  outline: none;
  border:2px solid #009688;
}

input[name="submit-btn"] {
  border:none;
  padding: 9px 1.5em;
  width: 10%;
  display: inline-block;
  vertical-align: top;
  background: #009688;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.text-field:focus + .submit-btn {
  background: red;
  animation-name: slideInDown;
  animation-duration: 2s;
  animation-delay: 1s;
}

