/* Formula: target / context * 100 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /*background: url('docs/ejercicio.png') top center;
  opacity: 0.5;*/
  color: #333;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  padding: 19px 0 4px 0;
  box-shadow: 1px 1px 4px 0px #ccc;
}

header h1 {
  width: 150px; /* 150 / 1200 * 100 */
  float: left;
  margin-left: 24px; /* 24 / 1200 * 100 */
}

header nav {
  float: right;
  margin-top: 14px;
}

header img {
  max-width: 100%;
}

header li {
  display: inline-block;
  vertical-align: top;
}

header li:last-child a{
  margin-right: 0;
}

header a {
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px; 
  margin-right: 46px;
  transition: color 500ms;
}

header a:active, header a:hover, header .active {
  color: #03a9f4;
}

/* Galeria */

.galeria-fotos {
  margin-top: 40px;
}

.galeria-fotos li {
  float: left;
  width: 33.333%;
  margin-top: -3px;
}

.galeria-fotos li img {
  max-width: 100%;
}

/* Videos */

.galeria-video {
  background: #ededed;
  margin-top: 70px;
  padding-bottom: 70px;
}

.galeria-video h2 {
  padding: 50px 0;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 3em;
  position: relative;
}

.galeria-video h2::before {
  content: '';
  width: 100px;
  background: #03a9f4;
  display: block;
  height: 2px;
  position:absolute;
  bottom: 10px;
  left: 45%;
}

.videos {
  margin-top: 50px;
  position: relative;
  padding-bottom: 56.25%; /* equivale a 16:9 */
  height: 0;
  overflow: hidden;
}

.videos video {
  max-width: 100%;
  height: auto;
}

.video-wrap iframe, .video-wrap object, .video-wrap embed {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}