/* Formula: target / context * 100 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /*background: url('docs/ejercicio.png') top center;
  opacity: 0.5;*/
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  padding: 19px 0 4px 0;
  box-shadow: 1px 1px 4px 0px #ccc;
}

header h1 {
  width: 150px; /* 150 / 1200 * 100 */
  float: left;
  margin-left: 24px; /* 24 / 1200 * 100 */
}

header nav {
  float: right;
  margin-top: 14px;
}

header img {
  max-width: 100%;
}

header li {
  display: inline-block;
  vertical-align: top;
}

header li:last-child a{
  margin-right: 0;
}

header a {
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px; 
  margin-right: 46px;
  transition: color 500ms;
}

header a:active, header a:hover, header .active {
  color: #03a9f4;
}

/* Galeria */

.galeria {
  margin-top: 40px;
}

.galeria li {
  float: left;
  width: 33.333%;
  margin-top: -3px;
}

.galeria li img {
  max-width: 100%;
}