* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#556370;
  color:white;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  background: #C54D57;
  padding: 15px 0;
  text-align: center;
}

.formularios {
  margin-top: 70px;
  margin-bottom: 70px;
}

.formularios fieldset {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  padding: 40px;
  font-size: 2em;
  text-shadow: 2px 2px 5px #000;
}

.formularios fieldset input {
  font-size: 1em;
  padding: 10px 1em;
  border-radius: 5px;
  border:none;
}

.formularios input {
  display: block;
  margin: 25px 0 50px 0;
  width: 100%;
}

.formularios label, .formularios i {
  text-shadow: 2px 2px 5px #000;
  font-weight: bolder;
}

.formularios input[type="submit"] {
  background: #C54D57;
  border:none;
  font-size: 1.8em;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
  border-radius: 5px; 
  padding: 20px 0;
}

.formularios input[type="submit"]:hover {
  cursor: pointer;
  background: #4ECDC4;
}

fieldset:nth-child(2){
  margin-left: 1em;
}

.form-required:required {
  background:pink url('images/icon-x.svg') no-repeat 5px 16px;
  background-size: 25px;
}

.form-required:focus {
  background:white none;
}

.form-required:valid {
  background: white url('images/check.svg') no-repeat 8px 18px;
  background-size: 20px;
}
