/* Propiedades CSS3 */

/* 
  text-shadow [horizontal] [vertical] [blur] [color] 
  :first-line
  :first-letter
*/


p {
  font-size: 1.8em;
  text-shadow: 1px 1px 30px #000; 
}

#first:first-letter {
  color: green;
  font-size: 3em;
}

p::first-line {
  color: red;
}

a {
  font-size: 2.5em;
}

a:hover {
  color: black;
}

a:active {
  color: blue;
}

input:focus {
  background: green;
}



